body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

body::-webkit-scrollbar {
  display: none;
  }

::selection {
  user-select: none;
  }

.marquee-div {
  text-align: center;
  font-size: 12vw;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 12vw auto;
  display: flex;
  justify-content: center;
  }
  
.marquee { 
  color: #121c26;
  font-weight: 900;
  letter-spacing: -1.45vw;
  cursor: default;
  margin: 0;
  padding: 0;
  }

.squareContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  }
        
.square {
  height: 55vw;
  width: 55vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 2px;
  margin-bottom: 10vw;
  position: absolute;
  /* animation: change-square 240s linear infinite; */
  /* animation: change-square 10800s linear infinite; */
  animation: change-square 60s linear infinite;
  filter: blur(1px);
  z-index: 999;
          }
  
  
.section-noise {
  height: 54.9vw;
  width: 54.9vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 2px;
  margin-bottom: 10vw;
  /* animation: change-white-noise 240s linear infinite; */
  /* animation: change-white-noise 10800s linear infinite; */
  animation: change-white-noise 60s linear infinite;
  background: 
    url(https://media.tenor.com/cqm2X5OvcYIAAAAC/white-noise.gif);
    filter: contrast(170%) brightness(1000%);
  z-index: 1000;
  } 
  
.noise {
  height: 55vw;
  width: 55vw;
  position: absolute;
  opacity: 0;
  }

.aDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  } 

footer {
  margin: 2vw;
  font-size: 1rem;
  }

#portfolio-link {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
  transition: all .25s ease-in-out;
  }
        
#portfolio-link:hover {
  color: #0FFF50;
  transition: all .25s ease-in-out;
  border-bottom: 2px solid #fff;
  }
  
        @keyframes change-white-noise {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 0;
          }
          55% {
            opacity: 0;
          }
          60% {
            opacity: .1;
          }
          65% {
            opacity: .2;
          }
          70% {
            opacity: .3;
          }
          75% {
            opacity: .3;
          }
          80% {
            opacity: .2;
          }
          85% {
            opacity: .2;
          }
          90% {
            opacity: .1;
          }
          95% {
            opacity: .1;
          }
          100% {
            opacity: 0;
          }
        }
  
  @keyframes change-square {
      0% {
        background: #0FFF50;
        opacity: 0%;
      }
      5% {
          background: #00FF00;
          opacity: 50%;
      }
      10% {
          background: #AAFF00;
          opacity: 100%;
      }
      15% {
          background: #50C878;
          opacity: 100%;
      }
      20% {
        background: #097969;
        opacity: 100%;
      }
      25% {
          background: #AFE1AF;
          opacity: 100%;
      }
      30% {
          background: #00FF00;
          opacity: 100%;
      }
      35% {
          background: #50C878;
          opacity: 100%;
      }
      40% {
          background: #5F8575;
          opacity: 100%;
      }
      45% {
        background: #228B22;
        opacity: 100%;
      }
      50% {
          background: #00FF00;
          opacity: 100%;
      }
        55% {
            background: #355E3B;
            opacity: 100%;
        }
        60% {
            background: #2AAA8A;
            opacity: 100%;
        }
        65% {
            background: #90EE90;
            opacity: 100%;
        }
        70% {
          background: #478778;
          opacity: 95%;
        }
        75% {
            background: #98FB98;
            opacity: 90%;
        }
        80% {
            background: #C1E1C1;
            opacity: 80%;
        }
        85% {
            background: #00FF00;
            opacity: 70%;
        }
        90% {
            background: #00FF00;
            opacity: 60%;
        }
        95% {
          background: #00FF7F;
          opacity: 50%;
        }
        100% {
          background: #00FF00;
          opacity: 0%;
        }
      }

      @media only screen and (max-width: 820px) {
       body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
       }
      }