::selection {
  user-select: none;
  }

  :root{
    --overlay-color: rgba(0, 0, 0, 0.25);
    --menu-speed: .5s;
  }

  * {
   
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: whitesmoke;
  }  
  
#portfolio-link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  transition: all .25s ease-in-out;
  }
          
#portfolio-link:hover {
  color: gray;
  }
        
.square {
  width: 48vw;
  height: 48vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 1000px;
  max-height: 1000px;
  border-radius: 2px;
  position: absolute;
  /* animation: change-square 10800s linear infinite; */
  animation: change-square 180s linear infinite;
  filter: blur(1px);
          }
  
  
.section-noise {
  width: 48vw;
  height: 48vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 1000px;
  max-height: 1000px;
  border-radius: 2px;
  /* animation: change-white-noise 10800s linear infinite; */
  animation: change-white-noise 180s linear infinite;
  background: 
  url(https://media.tenor.com/cqm2X5OvcYIAAAAC/white-noise.gif);
  filter: contrast(170%) brightness(1000%);
  z-index: 99;
  } 
  
.noise {
  width: 48vw;
  height: 48vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 1000px;
  max-height: 1000px;
  position: absolute;
  opacity: 0;
  }
  
@keyframes change-white-noise {
  0% {
    opacity: 0;
    }
  65% {
    opacity: 0;
    }
  70% {
    opacity: .025;
    }
  75% {
    opacity: .025;
    }
  80% {
    opacity: .025;
    }
  85% {
    opacity: .025;
    filter: blur(1px);
    }
  90% {
    opacity: .025;
    filter: blur(2px);
    }
  95% {
    opacity: .25;
    filter: blur(3px);
    }
  100% {
    opacity: .025;
    filter: blur(4px);
    }
  }
  
@keyframes change-square {
  0% {
    background: #0FFF50;
    opacity: 0%;
    filter: blur(4px);
    }
  5% {
    background: #00FF00;
    opacity: 50%;
    filter: blur(0);
    }
  10% {
    background: #AAFF00;
    opacity: 100%;
    }
  15% {
    background: #50C878;
    opacity: 100%;
    }
  20% {
    background: #097969;
    opacity: 100%;
    }
  25% {
    background: #AFE1AF;
    opacity: 100%;
    }
  30% {
    background: #00FF00;
    opacity: 100%;
    }
  35% {
    background: #50C878;
    opacity: 100%;
    }
  40% {
    background: #5F8575;
    opacity: 100%;
    }
  45% {
    background: #228B22;
    opacity: 100%;
    }
  50% {
    background: #00FF00;
    opacity: 100%;
    }
  55% {
    background: #355E3B;
    opacity: 100%;
    }
  60% {
    background: #2AAA8A;
    opacity: 100%;
    }
  65% {
    background: #90EE90;
    opacity: 100%;
    }
  70% {
    background: #478778;
    opacity: 95%;
    }
  75% {
    background: #98FB98;
    opacity: 90%;
    }
  80% {
    background: #C1E1C1;
    opacity: 80%;
    }
  85% {
    background: #00FF00;
    opacity: 70%;
    }
  90% {
    background: #00FF00;
    opacity: 60%;
    filter: blur(0);
    }
  95% {
    background: #00FF7F;
    opacity: 50%;
    filter: blur(2px);
    }
  100% {
    background: #00FF00;
    opacity: 0%;
    filter: blur(4px);
    }
  }

  .btn-3 {
    width: auto;
    min-width: 3rem;
    border-radius: 25rem;
    font-size: .75rem;
    font-weight: 200;
    border: none;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    top: 0;
    margin: 0 2vw;
    padding: .5rem;
    transition: all .25s ease-in-out;
  }

  .btn-3:hover {
    background-color: #000;
    color: whitesmoke;
    cursor: pointer;
  }

  .btn-3:active {
    background-color: gray;
  }

  #audio {
    position: block;
  }

  .container {
    max-width: fit-content;
    margin: auto;
    padding: 0 3rem;
  }

  .showcase .showcase-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .showcase :before {
    content: " ";
  }



  /* Burger & Nav Styles */

  .menu-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .toggler {
    cursor: pointer;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vw;
    z-index: 2;
    width: 4vw;
    height: 4vw;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 4vw;
    height: 4vw;
    min-width: 2.5rem;
    min-height: 2rem;
    margin: 2vw;
    padding: .5rem;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease-in-out;
  }

  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1vw;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all .25s ease-in-out;
  }

  .menu-wrap .hamburger > div:after {
    top: 1vw;
    cursor: pointer !important;
  }

  .menu-wrap .toggler:hover + .hamburger > div:before,
  .menu-wrap .toggler:hover + .hamburger > div:after {
    top: 0;
  }

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.25 ease-in-out;
}

.menu-wrap .menu {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  width: 200vw;
  height: 200vw;
  display: flex;
  /* flex: none; */
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.25s ease-in-out;
}

.menu-wrap .menu > div > div {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* max-width: 100vw;
  max-height: 100vh; */
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.menu-wrap .menu > div > div> ul > li {
  list-style: none;
  color: #000;
  font-size: .75rem;
  padding: .5rem;
  margin: 2vw 0;
}

#green-header {
  font-size: 4vw;
  letter-spacing: -.12em;
}

.menu-wrap .menu > div > div> ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color .25s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .menu-wrap .hamburger {
    margin: 1.25rem;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div:after {
    top: -10px;
  }
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }
  #green-header {
    font-size: 2rem;
  }
}