/* html {
    --scrollbarBG: whitesmoke;
    --thumbBG: #0FFF50;
  } */
  /* body::-webkit-scrollbar {
    width: 14px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 2.25px solid var(--scrollbarBG);
  } */

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ::selection {
    background-color: #0FFF50;
    color: #121c26;
  }

  .marquee-div {
    text-align: center;
    font-size: 9.25vw;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
/* 
  .marquee-div:after {
    content: "";
    display: inline-block;
    
  } */
  
      .marquee { 
          color: #121c26;
          font-weight: bolder;
          letter-spacing: -1.5vw;
          cursor: default;
          animation: marquee 10800s linear infinite;
          /* animation: marquee 30s linear infinite; */
          /* white-space: nowrap; */
          /* overflow: hidden; */
          /* font-size: 10vw; */
          /* position: sticky; */
        }

        @keyframes marquee {
          0% {
            opacity: 100;
          }
          100% {
            opacity: 0;
          }
        }
        
        /* .marquee span {
          display: inline-block;
          padding-left: 2.5%;
          animation: marquee 160s linear infinite;
        }
        @keyframes marquee {
          0% {
            transform: translate(0, 50);
          }
          100% {
            transform: translate(-100%, 0);
          }
        } */

        .squareContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
    .square {
        height: 45vw;
        width: 45vw;
        min-width: 300px;
        min-height: 300px;
        border-radius: 2px;
        margin-top: 5vw;
        margin-bottom: 10vw;
        position: absolute;
        /* animation: change-square 240s linear infinite; */
        animation: change-square 10800s linear infinite;
        /* animation: change-square 30s linear infinite; */
        filter: blur(1px);
        z-index: 999;
          }
  
  
        .section-noise {
          height: 45vw;
          width: 45vw;
          min-width: 300px;
          min-height: 300px;
          border-radius: 2px;
          margin-top: 5vw;
          margin-bottom: 10vw;
          /* animation: change-white-noise 240s linear infinite; */
          animation: change-white-noise 10800s linear infinite;
          /* animation: change-white-noise 30s linear infinite; */
          background: 
            url(https://media.tenor.com/cqm2X5OvcYIAAAAC/white-noise.gif);
              filter: contrast(170%) brightness(1000%);
              z-index: 1000;
        } 
  
        .noise {
          height: 45vw;
          width: 45vw;
          position: absolute;
          opacity: 0;
        }

        .aDiv {
          height: 10vw;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        } 

        footer {
          margin: 1vw;
          font-size: 1.5vw;
        }

        #portfolio-link {
          color: #000;
          text-decoration: none;
          border-bottom: 1px solid #000;
          transition: all .25s ease-in-out;
        }
        
        #portfolio-link:hover {
          color: #0FFF50;
          transition: all .25s ease-in-out;
          border-bottom: 1px solid #000;
        }
  
        @keyframes change-white-noise {
          0% {
            opacity: 0;
          }
          5% {
            opacity: 0;
          }
          10% {
            opacity: 0;
          }
          15% {
            opacity: 0;
          }
          20% {
            opacity: 0;
          }
          25% {
            opacity: 0;
          }
          30% {
            opacity: 0;
          }
          35% {
            opacity: 0;
          }
          40% {
            opacity: 0;
          }
          45% {
            opacity: 0;
          }
          50% {
            opacity: .1;
          }
          55% {
            opacity: .1;
          }
          60% {
            opacity: .2;
          }
          65% {
            opacity: .2;
          }
          70% {
            opacity: .3;
          }
          75% {
            opacity: .3;
          }
          80% {
            opacity: .4;
          }
          85% {
            opacity: .4;
          }
          90% {
            opacity: .3;
          }
          95% {
            opacity: .1;
          }
          100% {
            opacity: 0;
          }
        }
  
  @keyframes change-square {
      0% {
        background: #0FFF50;
        opacity: 100%;
      }
      5% {
          background: #00FF00;
          opacity: 100%;
      }
      10% {
          background: #AAFF00;
          opacity: 100%;
      }
      15% {
          background: #50C878;
          opacity: 100%;
      }
      20% {
        background: #097969;
        opacity: 100%;
      }
      25% {
          background: #AFE1AF;
          opacity: 100%;
      }
      30% {
          background: #00FF00;
          opacity: 100%;
      }
      35% {
          background: #50C878;
          opacity: 100%;
      }
      40% {
          background: #5F8575;
          opacity: 100%;
      }
      45% {
        background: #228B22;
        opacity: 100%;
      }
      50% {
          background: #00FF00;
          opacity: 100%;
      }
        55% {
            background: #355E3B;
            opacity: 95%;
        }
        60% {
            background: #2AAA8A;
            opacity: 90%;
        }
        65% {
            background: #90EE90;
            opacity: 85%;
        }
        70% {
          background: #478778;
          opacity: 80%;
        }
        75% {
            background: #98FB98;
            opacity: 75%;
        }
        80% {
            background: #C1E1C1;
            opacity: 70%;
        }
        85% {
            background: #00FF00;
            opacity: 65%;
        }
        90% {
            background: #00FF00;
            opacity: 60%;
        }
        95% {
          background: #00FF7F;
          opacity: 55%;
        }
        100% {
          background: #00FF00;
          opacity: 0%;
        }
      }

      @media only screen and (max-width: 700px) {
        .aDiv {
          margin-top: 4rem;
        } 
        footer {
          font-size: .75rem;
        }
        .square {
          margin-top: 4rem;
          }
        .section-noise {
          margin-top: 4rem;
        } 
      }

      @media only screen and (max-width: 500px) {
        .aDiv {
          margin-top: 4rem;
        } 
        footer {
          font-size: .75rem;
        }
        .square {
          margin-top: 4rem;
          }
        .section-noise {
          margin-top: 4rem;
        } 
      }

      @media only screen and (max-width: 400px) {
        .aDiv {
          margin-top: 6rem;
        } 
        footer {
          font-size: .75rem;
        }
        .square {
          margin-top: 4rem;
          }
        .section-noise {
          margin-top: 4rem;
        } 
      }

      @media only screen and (max-width: 300px) {
        .aDiv {
          margin-top: 6rem;
        } 
        footer {
          font-size: .75rem;
        }
        .square {
            margin-top: 4rem;
            }
          .section-noise {
            margin-top: 4rem;
          } 
      }
  
  
          /* .lastPart {
            width: 86rem;
            height: 36rem;
            margin: 0 auto;
            background-color: #F8F9F9;
            border: 1px solid #121c26;
            border-radius: 6px;
            display: flex;
            align-content: space-around;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            line-height: 24px;
          } */
  
          /* .about-green-square-div {
            padding: 22px;
          } */
  
          /* .about-green-sqr-text {
            text-decoration: underline;
            letter-spacing: -2px; 
            cursor: default;
          } */
  
          /* .about-text {
            color: #F8F9F9;
            cursor: default;
            transition: all 4s ease-in-out;
            padding: 4px;
          }
          .about-text:hover {
            color: #121c26;
            transition: all 1s ease-in-out;
          } */
  
            
  
            /* .about {
              color: #121c26;
              font-size: 90px;
              display: flex;
              transition: all .5s ease;
              padding: 10px;
            }
  
            .about:hover {
              cursor: pointer;
              color: #0FFF50;
              transition: all .5s ease;
              font-style: italic;
              text-decoration: underline;
              background-color: #121c26;
              border-radius: 4px;
            } */
  /* 
            .aDiv {
              width: 100%;
              height: 5rem;
              align-items: center;
              position: absolute;
            } */
  
          /* footer {
            width: 100%;
            position: absolute;
            bottom: 60px;
            font-size: 40px;
            text-decoration: none;
            display: flex;
            height: min-content;
            justify-content: space-around;
          } */
  
          /* a {
            text-decoration: none; 
            color: #121c26;
            transition: all .5s ease-in-out;
          }
          a:hover {
            cursor: pointer; 
            font-size: 60px;
            transition: all .5s ease-in-out;
          } */
  